<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de linhas de celular (INE5646)</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/jquery.mask.js"></script>
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>

<body class="fundo">
  <div id="app" >
    <v-app>
     <v-toolbar :fixed="fixed" app>
      <v-spacer></v-spacer>
      <a id="titulo" href="/"><v-toolbar-title v-text="title"></v-toolbar-title></a>
      <v-spacer></v-spacer>
    </v-toolbar>
    <main class="fundo">
        <div class="outerDiv">
          <div class="innerDiv">
            <center><h2>Informações da linha de celular</h2>
              <a href="/celulares"><strong>Voltar</strong></a>
              <hr>          
              <div>
                <table class="cadastro">
                  <tbody>
                    <tr>
                      <td>Número da linha</td>
                      <td><%= celular.numero %></td>
                    </tr>
                    <tr>
                      <td>Colaborador responsável</td>
                      <td><%= celular.nome %></td>
                    </tr>
                    <tr>
                        <td>Plano de Voz contratado</td>
                        <td><%= celular.planoVoz %></td>
                      </tr>
                    <tr>
                      <td>Plano de Voz contratado</td>
                      <td><%= celular.planoDados %></td>
                    </tr>
                    <tr>
                      <td>Aparelho utilizado</td>
                      <td><%= celular.aparelho %></td>
                    </tr>
                    
                    <tr>
                      <td>IMEI</td>
                      <td><%= celular.imei %></td>
                    </tr>
                    <tr>
                        <td id="padding"><p class="post small2"><a href="/celulares/edit/<%= celular._id%>">Editar cadastro</a></p></td>
                        <td><form action="/celulares/delete/<%= celular._id%>" method="post">
                          <button type="submit" class="post btnred">Excluir cadastro</button></td>
                      </tr>
                  </tbody>
                </table>                  
                  </form>
                </div>
              </center>
            </div>
          </div>
        </main>
    <footer>
      <span>&copy; 2018</span>
    </footer>
  </v-app>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/jquery.mask.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script>
Vue.component('page', {
  template: '#page'
})
new Vue({
  el: '#app',
  data: {
    errors: [],
    fixed: true,
    title: 'Cadastro de linhas de celular (INE5646)',
    telefone: '',
    nome: '',
    planoVoz: '',
    planoDados: '',
    aparelho: '',
    imei: ''
  },
  methods:{
    checkForm:function(e) {
      this.errors = [];
      if(!this.numero) { this.errors.push("O campo Telefone é obrigatório."); }
      else if(!this.validaNumero(this.numero)) {this.errors.push("Preencha no formato (00)00000-0000"); }
      if(!this.nome) this.errors.push("O campo Nome é obrigatório."); 
      if(!this.planoVoz) this.errors.push("O campo Plano de Voz é obrigatório.");
      if(!this.planoDados) this.errors.push("O campo Plano de Dados é obrigatório."); 
      if(!this.aparelho) this.errors.push("O campo Aparelho é obrigatório."); 
      if(!this.imei) this.errors.push("O campo IMEI é obrigatório"); 

      if(!this.errors.length) return true;
      e.preventDefault();
    },
    validaNumero:function(numero) {
      var re = /^(\(\d{2}\)\d{5}\-\d{4})$/;
      return re.test(numero);
    }
  }

})
</script>
</body>

</html>


<!DOCTYPE html>
<html>
  <head>
    <title>Detalhes do cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="novo">
      <h3><a href="/despesas">Lista de despesas</a></h3>
      <h1>Informações do despesa</h1>
      <table>
        <tbody>
          <tr>
            <td>Telefone</td>

            <td><%= despesa.telefone %></td>
          </tr>
          <tr>
            <td>Data da despesa</td>

            <td><%= despesa.mesAno %></td>
          </tr>
          <tr>
            <td>Valor da despesa</td>

            <td>R$ <%= despesa.valorDespesa %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/despesas/edit/<%= despesa._id%>">Editar cadastro</a>
      <form action="/despesas/delete/<%= despesa._id%>" method="post">
        <button type="submit">Excluir cadastro</button>
      </form>
    </div>
  </body>
</html>
